@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --breakpoint-chzzk: 75rem;
  --color-background: rgb(20, 21, 23);
  --color-foreground: rgb(30, 32, 34);
}
